<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="/static/app.theme.css")
  body(ng-app="app")
    .container(ng-controller="AppController")
      p {{ title }}
      md-button {{title}}
      span.fa.fa-trash
      span.flag-icon.flag-icon-gr
    script(src="/static/app.bundle.js")
